.header--user {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.header--username {
    font-size: 17px;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 18px;
}
.header--userimg {
    height: 55px;
    width: 55px;
    border-radius: 50px;
}